[submodule "Cipher/bloc"]
	path = Cipher/bloc
	url = https://github.com/kmarquet/bloc
[submodule "Cipher/speck"]
	path = Cipher/speck
	url = https://github.com/madmo/speck
[submodule "Hash/skein-arm"]
	path = Hash/skein-arm
	url = https://github.com/unbounded/skein-arm
[submodule "Hash/BLAKE2"]
	path = Hash/BLAKE2
	url = https://github.com/BLAKE2/BLAKE2
[submodule "Cipher/clefia"]
	path = Cipher/clefia
	url = https://github.com/fedescarpa/clefia
[submodule "Hash/smhasher"]
	path = Hash/smhasher
	url = https://github.com/rurban/smhasher
[submodule "Cipher/lea"]
	path = Cipher/lea
	url = https://github.com/odzhan/lea
[submodule "Cipher/PRINCE128"]
	path = Cipher/PRINCE128
	url = https://github.com/cdare77/PRINCE128
[submodule "Cipher/prince-c-ref"]
	path = Cipher/prince-c-ref
	url = https://github.com/sebastien-riou/prince-c-ref/
[submodule "Cipher/Crypt-Camellia"]
	path = Cipher/Crypt-Camellia
	url = https://github.com/s-aska/Crypt-Camellia
