<div class="memroy-address">
	<div class="row" style="display:none;">
		<div class="col-sm-6">
			<label for="start-address">Start Address</label>
			<select class="form-control" id="start-address">
				<option value="1980">0x1980 - info A</option>
				<option value="1900">0x1900 - info B</option>
				<option value="1880">0x1880 - info C </option>
				<option value="1800">0x1800 - info D</option>
			</select>
		</div>
		<div class="col-sm-6">
			<label for="end-address">End Address</label>
			<select class="form-control" id="end-address">
				<option value="1A00">0x19FF - info A</option>
				<option value="1980">0x197F - info B</option>
				<option value="1900">0x18FF - info C</option>
				<option value="1880">0x187F - info D</option>
			</select>	
		</div>
	</div>
<form method="post" id="readForm-wisp">
	<div class="row">
		<div class="col-lg-5">
			<div class="EPC-readWisp input-group">
				<span class="input-group-addon" id="basic-addon1">Start Address</span>
				<input id="user-StartAddr" class="form-control" type="text" required/>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="EPC-readWisp input-group">
				<span class="input-group-addon" id="basic-addon1">End Address</span>
				<input id="user-EndAddr" class="form-control" type="text" required/>
				<div class="input-group-btn">
					<button type="submit" class="btn btn-primary">Read Data</button>
				</div>	
			</div>
		</div>
	</div>
</form>
	<div class="row">
		<div class="table-responsive" style="margin: 0 15px;">	
			<table class="table" id="read" style="border:0;">
				<thead>
					<tr>
						<td>ReadData</td>
					</tr>
				</thead>
				<tbody id="readWispData"></tbody>
			</table>
		</div>
	</div>
</div>

