<div class="switch-field">
	<label class="radio-inline"><input type="radio" name="writeopt_wips" id="User" value="3" checked>User</label>
</div>
<div class="col-xs-6">
	<form method="post" id="writeForm-wisp"  >
		<div class="EPC-write input-group">
				<input type="text" class="form-control"  id="WriteData-wisp"/>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-warning">Write</button>
			</div>
		</div>	
	</form>
</div>

<div class="file-upload" style="display:none;">
	<div class="col-xs-6">
		<input type="text" class="form-control" disabled/>
	</div>
	<label class="btn btn-default">
		Binary File Upload <input type="file" hidden>
	</label>
</div>
