<div class="btn-group">
<form method="post" id="readForm">
	<button type="submit" class="btn btn-primary">Read Data</button>
</form>
<form method="post" id="writeForm">
	<button type="submit" class="btn btn-primary">Write Data</button>
</form>
</div>
<div class="btn-group">
	<form method="post" id="pauseForm">
		<button type="submit" class="btn btn-success">PAUSE</button>
	</form>
	<form method="post" id="resumeForm">
		<button type="submit" class="btn btn-success">RESUME</button>
	</form>
</div>
<div class="status">
	<input type="text" id="ipAdress"></input>
</div>
