<div class="memroy-address">
	<div class="row">
		<div class="col-sm-6">
			<label for="start-address">Start Address</label>
			<select class="form-control" id="start-address">
				<option value="0x1800">0x1800</option>
				<option value="0x1840">0x1840</option>
			    <option value="0x4400">0x4400</option>
				<option value="0x6400">0x6400</option>
				<option value="0x8400">0x8400</option>
			</select>
		</div>
		<div class="col-sm-6">
			<label for="end-address">End Address</label>
			<select class="form-control" id="end-address">
				<option value="0x1880">0x1880</option>
				<option value="0x6400">0x6400</option>
			    <option value="0x7000">0x7000</option>
				<option value="0x8400">0x8400</option>
				<option value="0x9000">0x9000</option>
			</select>	
		</div>
	</div>
	<div class="row">
		<div class="table-responsive" style="margin: 0 15px;">	
			<table class="table table-bordered table-hover" id="read">
				<thead>
					<tr>
						<td>WISP-ID</td>
						<td>ReadData</td>
						<td>MemoryBank</td>
					</tr>
				</thead>
				<tbody id="readData"></tbody>
			</table>
		</div>	
	</div>
</div>

