<div class="row">
	<div class="switch-field">
		<label class="radio-inline"><input type="radio" name="optradio" id="Reserved">Reserved</label>
		<label class="radio-inline"><input type="radio" name="optradio" id="EPC" checked>EPC</label>
		<label class="radio-inline"><input type="radio" name="optradio" id="TID">TID</label>
		<label class="radio-inline"><input type="radio" name="optradio" id="User">User</label>
	</div>
</div>
<form method="post" id="readForm">
	<div class="row">
		<div class="col-lg-4">
			<div class="EPC-read input-group">
				<span class="input-group-addon" id="basic-addon1">Word Start</span>
				<input type="text" class="form-control"/>
			</div>
		</div>
		<div class="col-lg-4">	
				<div class="EPC-read input-group">
					<span class="input-group-addon" id="basic-addon1">Word count</span>
					<input type="text" class="form-control" placeholder=""/>
				</div>		
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
				<div class="EPC-read input-group">
					<span class="input-group-addon" id="basic-addon1">Access password</span>
					<input type="text" class="form-control"/>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary" id="readBtn">Read Data</button>
					</div>
				</div>	
		</div>
	</div>
</form>
<div class="row">
	<div class="table-responsive" style="margin: 0 15px;">	
		<table class="table table-bordered table-hover" id="read">
			<thead>
				<tr>
					<td>EPC</td>
					<td>ReadData</td>
					<td>MemoryBank</td>
				</tr>
			</thead>
			<tbody id="readData"></tbody>
		</table>
	</div>
</div>
