<div class="switch-field">
	<label class="radio-inline"><input type="radio" name="writeopt" id="EPC" checked>EPC</label>
</div>
<div class="col-xs-6">
	<div class="EPC-read input-group">
			<input type="text" class="form-control" id="ReadEPCdata"/>
		<div class="input-group-btn">
			<button type="button" class="btn btn-primary" id="readEPCbtn">Read</button>
		</div>
	</div>	
</div>
<div class="col-xs-6">
	<form method="post" id="writeForm">
		<div class="EPC-write input-group">
				<input type="text" class="form-control"  id="WriteData"/>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-warning">Write</button>
			</div>
		</div>	
	</form>
</div>
