<div class="switch-field">
	<label class="radio-inline"><input type="radio" name="writeopt" id="EPC" checked>EPC</label>
</div>
<div class="col-xs-6">
	<form method="post" id="readForm">
		<div class="EPC-read input-group">
				<input type="text" class="form-control"/>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-primary" id="">Read</button>
			</div>
		</div>	
	</form>
</div>
<div class="col-xs-6">
	<form method="post" id="writeForm">
		<div class="EPC-write input-group">
				<input type="text" class="form-control"/>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-warning" id="">Write</button>
			</div>
		</div>	
	</form>
</div>
