@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

[hidden] {
  display: none !important;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#eeeeec;
}

.container {
	max-width:100%;
	width:100%;
	margin:0 auto;
	position:relative;
}

.table{
	margin: 0px 0;
}

.table thead > tr > td {
	color : #333;
	background-color: #fff;
	border-bottom: 2px solid #eeeeec;
}

.table tbody tr > td {
	color : #333;
	background-color: #fff;
	border-top: none !important;
}



.btn-group > form {
	display: inline;
}

.row {
	margin: 10px 10px 0;
}

.btn-group{
	/* margin: 10px 15px 0; */
}

.file-upload{
	/* margin: 10px 15px 0; */
}
.switch-field{
	/* margin: 10px 15px 0; */
}

.memory-bank-label{
	/* margin: 0 15px 0; */
}

.memroy-address{
	/* margin: 0 15px 0; */
}

#modes, #secure-modes{
	margin-top:1px;
	margin-left:5px;
	float:right;
}

#status{
	margin-left: 5px;
	margin-right: 0px;
}
