
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Insert title here{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Apply bootstrap and main_page.css with jquery -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css"	href="{% static 'css/base.css' %}?ver=1.1" />
<script src="{% static 'js/websocket.js' %}?ver=1.0"></script>

</head>
<body>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>